{%
    set classes = [
        'card',
        'flex',
        'flex-col',
        'font-roboto-slab',
        'p-16',
        'bg-slate-500',
        'text-white'
    ]
%}
<div {{attributes.addClass(classes)}}>
    {% block headerSlot %}
        {% if header %}
            <div class="card__image">{{header}}</div>
        {% endif %}
    {% endblock headerSlot %}
    {% if body %}
        <div class="card__body">{{body}}</div>
    {% endif %}
    {% if footer %}
        <div class="card__footer ">{{footer}}</div>
    {% endif %}
</div>
